Django==1.11.29
djangorestframework==3.9.1
markdown==2.4.1
django-filter==1.0.1
MySQL-python==1.2.5
django-crispy-forms==1.6.1
django-allauth==0.34.0
django-rest-auth==0.9.2
django-rest-swagger==2.1.2
